.sheetsIcon {
    display: flex;
    align-items: center;

    padding-right: .5rem;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

/* BOTÓN */

.dropdown-btn {
    display: flex;
    align-items: center;
    height: 2.3rem;
    padding: 0 1rem;
    background: none;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
}

.dropdown-btn:hover {
    color: #0F9D58;
    background-color: #111;
}

/* MENÚ */

.dropdown-menu {
    position: absolute;
    top: calc(90% + 0.2rem);
    left: 0;
    background-color: #333;
    list-style: none;
    margin: 0;
    padding: 0.3rem 0;
    min-width: 180px;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 10;
}

.dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    color: #0F9D58;
    background-color: #111;
}

/* MOSTRAR */

.dropdown:hover .dropdown-menu {
    display: block;
}