.navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* clave */
    height: 3.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid #ddd;
    background-color: #333333;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav-links li {
    height: 100%;
}

.nav-links a {
    display: flex;
    align-items: center;
    height: 100%;
    /* clave */
    margin-left: 2rem;
    padding: 0 1rem;
    /* solo horizontal */
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-links a:hover {
    background-color: #111111;
}

.nav-icon {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
}