.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 1.5rem;
    background-color: #333333;
    border-bottom: 1px solid #ddd;
}

/* ICONO */

.nav-icon {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
    width: 9rem;


}

.nav-logo {
    object-fit: cover;
    height: 5rem;
    width: 6rem;
    border-radius: 65%;
    transform: scale(1.25);

}

/* LINKS */

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

.nav-links li {
    display: flex;
    align-items: center;
}

/* LINKS GENERALES */

.nav-links a {
    display: flex;
    align-items: center;
    height: 2.3rem;
    /* altura uniforme */
    padding: 0 1rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    border-radius: 8px;
}

/* HOVER GENERAL */

.nav-links a:hover {
    background-color: #111111;
}


/* BOTÓN GOB (VARIANTE) */
.excel a:hover {
    color: #0F9D58;
}

.trello a:hover {
    color: #0079BF;
}

.gob a {
    background: #00b1c7;
    border-radius: 10px;
    font-weight: 600;
    color: #fafcfe;
}

.gob a:hover {
    background: #0095a8;
}